body {
    margin: 0;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1C1C1C;
    color: white;
}

.container {
    flex: 1;
    padding-top: 60px;
}

@font-face {
    font-family: 'Inter';
    src: url('carpeta/tipografia/Inter-Light.ttf');
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    font-weight: bold;
    background-color: black;
    z-index: 1000;
    box-sizing: border-box;
    height: 60px;
}

.menu-logo,
.link-logo {
    width: 60px;
    height: 20px;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    margin-left: auto;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
}

ul li {
    padding: 0 20px;
}

a {
    color: white;
    text-decoration: none;
}

.menu-exit {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 0;
        align-items: center;
    }

    .menu-toggle:checked~ul {
        display: flex;
    }

    ul li {
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    .menu-toggle:checked~ul .menu-exit {
        display: block;
    }

    ul li:last-child a {
        display: none;
    }

    .menu-icon:focus+ul {
        display: flex;
    }

    .menu-icon:focus {
        outline: none;
    }

    .menu-close:active~.menu-toggle {
        display: none;
    }
}

@media (max-width: 760px) {

    #contact-first {
        flex-direction: column;
        align-items: center;
    }

    .location-card,
    .contact-form {
        width: 100%;
        margin: 10px 0;
    }

    .btn-googleMaps,
    .btn-submit {
        width: 100%;
        padding: 15px 0;
    }

    .btn-googleMaps {
        width: 92%;
    }
}

@media (max-width: 480px) {

    a .inputs-form,
    .inputs-form-txtArea {
        font-size: 14px;
    }

    .btn-googleMaps,
    .btn-submit {
        padding: 12px 0;
        font-size: 16px;
    }

    .btn-googleMaps {
        width: 89%;
    }
}

@media (max-width: 375px) {
    .btn-googleMaps {
        width: 87%;
    }
}

#contact-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.background-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.location-card,
.contact-form {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    text-align: left;
}

.location-card h2,
.contact-form h2 {
    text-align: center;
}

.store-img {
    background-image: url('carpeta/imagenes/store.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border-radius: 5px;
}

.inputs-form,
.inputs-form-txtArea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.btn-googleMaps,
.btn-submit {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4285F4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-googleMaps:hover,
.btn-submit:hover {
    background-color: #357ae8;
}

.contactanos-h {
    margin-bottom: 20px;
}

#contact-second {
    text-align: center;
    margin: 20px 0;
}

.background-second {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.background-second a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
}

.link-media-facebook {
    background-image: url("carpeta/imagenes/facebook_logo.png");
}

.link-media-instagram {
    background-image: url("carpeta/imagenes/instagram_logo.png");
}