body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.container {
    flex: 1;
    padding-top: 60px;
}

@font-face {
    font-family: 'Inter';
    src: url('../carpeta/tipografia/Inter-Light.ttf');
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    font-weight: bold;
    background-color: black;
    z-index: 1000;
    box-sizing: border-box;
    height: 60px;
}

.menu-logo,
.link-logo {
    width: 60px;
    height: 20px;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    margin-left: auto;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
}

ul li {
    padding: 0 20px;
}

a {
    color: white;
    text-decoration: none;
}

.menu-exit {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 0;
        align-items: center;
    }

    .menu-toggle:checked~ul {
        display: flex;
    }

    ul li {
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    .menu-toggle:checked~ul .menu-exit {
        display: block;
    }

    ul li:last-child a {
        display: none;
    }

    .menu-icon:focus+ul {
        display: flex;
    }

    .menu-icon:focus {
        outline: none;
    }

    .menu-close:active~.menu-toggle {
        display: none;
    }

    .galery-txt {
        margin-top: 10%;
    }
}

.galery-txt {
    width: 100%;
    background-color: white;
    padding-top: 7%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 60px;
}

.galery {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 3%;
}

.galery-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-size: cover;
}

@media (max-width: 768px) {

    .galery {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .galery {
        width: 100%;
        padding: 0;
    }
}