body {
    margin: 0px;
    font-family: 'Inter';
}

@font-face {
    font-family: 'Inter';
    src: url(carpeta/tipografia/Inter-Light.ttf);
}



nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5% 10px 5%;
    font-weight: bold;
    background-color: black;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
}

.menu-logo,
.link-logo {
    width: 20%;
}

.galery-txt {
    width: 100%;
    height: 200%;
    background-color: white;
    padding-top: 7%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 60px;

}

.galery {
    background-color: white;
    width: 75%;
    padding-left: 6%;
    margin-left: 12%;
    margin-bottom: 3%;
}

.galery-img {
    display: inline-flex;
    width: 350px;
    height: 350px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-size: cover;
}